<template>
	<div class="header-notif">
		<nuxt-link class="header-link" to="/notifikasi">
			<span class="bzi-notification bzi-1_2x"></span>
		</nuxt-link>
	</div>
</template>

<script>
export default {
	name: 'Notif'
}
</script>

<style lang="scss" scoped>
.header-notif {
	display: flex;
	height: 100%;
	justify-content: flex-end;
	padding: 0;
}

.header-link {
	color: #fff;
	display: flex;
	align-items: center;
	height: 100%;
	margin-right: 1rem;

	&:hover, &:active {
		color: $light-grey;
	}
}
</style>
