<template>
<div>
	<header class="site-header">
		<div class="bzg bzg--no-gutter">
			<div class="bzg_c header-content left-nav" data-col="s10,m10">
				<div class="navToggler" :toggler-nav="toggler" @click="toggle" >
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
						<path d="M2 6h28v6h-28zM2 14h28v6h-28zM2 22h28v6h-28z" fill="#fff"></path>
					</svg>
				</div>
				<Logo />
			</div>
			<div class="bzg_c header-content .header-link" data-col="s2,m2">
				<headerGithub />
			</div>
		</div>
	</header>
	<div class="sidebar" :class="{ 'is-mb-active': toggler }">
        <ul class="list-nostyle">
            <headerSideNav @nav-toggle="toggle" :side-nav-data="sideNav"  />
        </ul>
    </div> 
	<div class="sidebar-overlay" :class="{'d-none': !toggler}" @click="toggle"></div>
</div>
</template>

<script>
export default {
	name: 'Header',
	data() {
		return {
			toggler: false,
			sideNav: [
				{
					title: 'Heading',
					url: '/heading'
				},
				{
					title: 'Colors',
					url: '/color'
				},
				{
					title: 'Lists',
					url: '/lists'
				},
				{
					title: 'Text Alignment',
					url: '/text-alignment'
				},
				{
					title: 'Buttons',
					url: '/buttons'
				},
				{
					title: 'Alert',
					url: '/alerts'
				},
				{
					title: 'Card',
					url: '/cards'
				},
				{
					title: 'Media Object',
					url: '/media-object'
				},
				{
					title: 'Grid',
					url: '/grids'
				},
				{
					title: 'Table',
					url: '/tables'
				},
				{
					title: 'Form',
					url: '/form'
				},
				{
					title: 'Tabs',
					url: '/tabs'
				},
				{
					title: 'Pagination',
					url: '/pagination'
				},
				{
					title: 'Pokemon',
					url: '/pokedex'
				}
            ]
		}
	},
	methods: {
		toggle: function() { this.toggler = !this.toggler;}
	}
}
</script>

<style lang="scss" scoped>
.site-header {
	width: 100%;
	position: fixed;
	background-color: $suitmedia;
	height: auto;
	box-shadow: 0px 3px 4px rgba($black, 0.15);
	z-index: 10;

	@media #{$large} {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

.left-nav {
	display: flex;
	flex-direction: row;
}

.navToggler {
	height: 100%;
	display: flex;
	align-items: center;
	background-color: $dark-grey;
	padding: 5px 15px 5px 15px;
	cursor: pointer;

	@media #{$medium} {
		display: none;
	}
}
</style>
