<template>
    <div>
        <nuxt-link v-for="(nav, i) in sideNavData" :key="i" class="sidebar-link" :to="nav.url">
            <li class="sidebar-item" v-on:click="toggle">
                {{ nav.title }}
            </li>
        </nuxt-link>
    </div>
</template>

<script>
export default {
    name: 'SideNav',
    props: {
		sideNavData: {
			type: Array,
			default: null
		},
	},
    data() {
        return {}
    },
    methods: {
        toggle: function() { this.$emit('nav-toggle'); }
    }
}

</script>

<style lang="scss" scoped>
    .nuxt-link-active {
        background: $light-grey;
        color: $black;
    }

    .sidebar-link {
        &:hover {
            color: $black;
        }
    }
</style>

