<template>
	<footer class="site-footer">
		<div class="text-left">
			&copy; 2019 Suitmedia
		</div>
	</footer>
</template>

<script>
export default {
	name: 'Footer'
}
</script>

<style lang="scss" scoped></style>
