<template>
	<h3 class="link-logo">
	<nuxt-link to="/" class="">
			<img  src="~assets/img/baze-flat-icon.png" alt="" width="40" /><span class="brand"> Suitbaze</span>
	</nuxt-link>
	</h3>
</template>

<style lang="scss" scoped>
	.link-logo {
		height: 100%;
		display: flex;
		align-items: center;
		margin-left: 1rem;
	}

	.brand {
		color: #fff;

		&:hover {
			color: $light-grey;
		}
	}
</style>
