<template>
    <div>
        <Header />
    </div>
</template>

<script>
export default {
    name: "Navigation",
    data() {
        return {
            isToggler: Boolean,
        }
    }
}
</script>