<template>
    <div>
        <PokeSearch v-on:search-pokemon="searchPoke"/>
        <div class="poke-group">
            <div class="poke-card" v-for="pokeman in filteredPoke" :key="pokeman.id">
                 <img :src="pokeman.image" alt="" class="poke-image">
                <div class="poke-card-body">
                    <h5 class="poke-name">{{ pokeman.name }}</h5>
                </div>
                <PokeInfo :pokeIndex="pokeman.id" />
            </div>
        </div>
    </div>    
</template>

<script>
import axios from 'axios';

export default {
    data(){
        return {
            pokemon: [],
            filteredPoke: [],
        };
    },
    props: {
        pokeGeneration: Number
    },
    async created(){
        const config = {
            headers: { Accept: "applicaiton/json" }
        };

        try{
            const res = await axios.get(`https://pokeapi.co/api/v2/generation/${this.pokeGeneration}`, config);
            this.pokemon = res.data.pokemon_species.map((res) => {
                const urlLength = res.url.length;
                const pokeIndex = res.url.slice(42,urlLength -1);
                return {
                    id: pokeIndex,
                    image: `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokeIndex}.png`,
                    name: res.name,
                };
            });
            this.filteredPoke = [...this.pokemon];
        }catch(err){
            console.log(err);
        }
    },
    methods: {
        searchPoke(poke) {
            if(poke){
                this.filteredPoke = this.pokemon.filter(pokeman => pokeman.name.toLowerCase().includes(poke.toLowerCase()));
            }else{
                this.filteredPoke = [...this.pokemon];
            }
        }
    },
}
</script>

<style lang="scss" scoped>
    .poke {
        &-group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 12px;
            justify-content: center;
        }

        &-image {
            width: 100%;
        }

        &-name {
            text-transform: capitalize;
        }

        &-card {
            display: flex;
            border: 1px solid $light-grey;
            padding: 12px;
            flex-direction: column;
            flex-wrap: wrap;
            flex: 1 0 160px;
            max-width: 160px;

            &-body {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
</style>