<template>
    <div class="mb-24 poke-container">
        <form @submit.prevent="onSubmit" v-bind:class="{active : !isactive}">
            <input class="form-input" type="text" v-model="text" placeholder="Search Pokemon...">
            <input class="btn--primary" type="submit" value="Search Pokemon">
        </form>
        <h4 class="text-primary search-result mb-24" v-bind:class="{ active : isactive }">Searching result for {{ text }} ...</h4>
        <span class="back-button" v-on:click="backFilter" v-bind:class="{ active : isactive }" ><i class="bzi-caret-left"></i> Back</span>
    </div>
</template>

<script>
export default {
    data() {
        return {
            text: "",
            isactive: false,
        }
    },
    methods: {
        onSubmit() {
            this.$emit("search-pokemon",this.text);
            this.isactive = !this.isactive;
        },
        backFilter() {
            this.text = "";
            this.$emit("search-pokemon",this.text);
            this.isactive = !this.isactive;
        }
    }
}
</script>

<style lang="scss" scoped>

    .back-button {
        color: $primary;
        font-family: inherit;
        display: none;
        cursor: pointer;
        width: fit-content;
    }

    .poke-container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    form {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .search-result {
        width: 100%;
        text-align: left;
    }

    .search-result, form {
        display: none;
    }

    .active {
        display: flex !important;
    }
</style>