<template>
    <div>
        <!-- <div class="poke-generation">
            <span>{{ pokeGeneration }}</span>
        </div> -->
        <div class="poke-info">
            <span v-for="type in pokeInfo" :key="type.name" href="#" class="poke-info-type">{{ type.name }}</span>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    props: {
        pokeIndex: String,
    },
    data() {
        return {
            pokeInfo: [],
            pokeGeneration: String,
        }
    },
    async created(){
        const config = {
            headers: { Accept: "applicaiton/json" }
        };

        try{
            const res = await axios.get(`https://pokeapi.co/api/v2/pokemon/${this.pokeIndex}`, config);
            this.pokeInfo = res.data.types.map((res) => {
                return res.type;
            });
        }catch(err){
            console.log(err);
        }
    },
}
</script>

<style lang="scss" scoped>

    .poke-generation {
        width: 100%;
        color: $black50;
        display: flex;
        justify-content: center;
        text-transform: capitalize;
    }

    .poke-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;

        &-type{
            padding: 0 12px 0 12px;
            font-size: .75em;
            border-radius: 5px;
            text-decoration: none;
            background-color: $light-grey;
            color: $blue;
            font-family: inherit;
            text-transform: capitalize;
        }
    }
</style>