<template>
    <div>
        <div class="mb-24">
            <ul class="tabs__bar">
                <li class="tabs__nav" v-for='(tab, index) in tabs'
                :key='tab.title'
                @click='selectTab(index)'
                :class='{"is-active": (index == selectedIndex)}'>
                    {{ tab.title }}
                </li>
            </ul>
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Tabs',
    data () {
        return {
            selectedIndex: 0,
            tabs: []
        }
    },
    created () {
        this.tabs = this.$children
    },
    mounted () {
        this.selectTab(0)
    },
    methods: {
        selectTab (i) {
            this.selectedIndex = i
            this.tabs.forEach((tab, index) => {
                tab.isActive = (index === i)
            })
        }
    }
}
</script>