.alert {
    position: relative;
    padding: 8px 16px;
    border: 1px solid;
    margin: 15px 0;
    font-family: inherit;
    line-height: 1.6;
    vertical-align: middle;
    background-color: #f0f0f0;

    &--popup {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 4;
        overflow: auto;
        top: 0;
        left: 0;
        padding-top: 15%;

        &-content {
            width: 80%;
            margin: auto;
        }
    }
}

$alert-palettes: (
	'light-grey': #ededed,
	'white': #fff,
	'light-green': #66B947,
	'primary': #91d6ff,
	'secondary': #cfd4d6,
	'warning': #ffe2a3,
	'danger': #fbaca3,
	'black': #525252,
);

@each $state, $color in $palettes {
	.alert--#{$state} {
		@extend .alert;
		color: $color !important;
	}
}

@each $state, $color in $alert-palettes {
	.alert--#{$state} {
		@extend .alert;
		background-color: $color !important;
	}
}