.progress-bar {
  position: relative;
  overflow: hidden;
  background: rgba(lighten($primary, 40%), 0.3);
  border-radius: 4px;

  .bar {
    display: block;
    height: 4px;
    background: $primary;
    border-radius: 4px;

    @media #{$medium} {
      height: 8px;
    }
  }
}

.hash-container {
  background-color: rgba(lighten($primary, 40%), 0.2);
  padding: 14px 16px;
}

.card {
  border: 1px solid;
  flex-direction: column;
  flex: 1 0 0%;
  display: flex;
  flex-flow: column wrap;

  &-group {
    gap: 12px;
    width: 100%;

    @media #{$small}{
      flex-direction: column;
    }

    @media #{$medium}{
      display: flex;
      flex-direction: row;
    }
  }

  &--header {
    border-bottom: 1px solid;
    padding: 8px 16px;
  }

  &--body {
    flex: 1 1 auto;
    padding: 8px 16px;
  }

  &--image {
    width: 100% ;
  }

  &--footer {
    border-top: 1px solid;
    padding: 8px 16px;
  }
}

@each $state, $color in $palettes {
	.card--#{$state} {
		background-color: $color;
    border: 1px solid;
    flex: 1 0 0%;
    display: flex;
    flex-flow: column wrap;

    img {
      width: 100%;
    }
	}
}

@each $state, $color in $light-palettes {
	.card--#{$state} {
		background-color: $color;
    border: 1px solid;
    flex: 1 0 0%;

    img {
      width: 100%;
    }
	}
}
