
.media {
    display: flex;
    align-items: flex-start;
}

.media-figure {
    margin-right: ($space / 2);

    img {
        max-width: 100%;
    }
}

.media-content {
    flex: 1;
    min-width: 0;
}
