.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #fff;
    position: fixed;
    height: 100vh;
    overflow: auto;
    border-right: solid 1px #CCCCCC;
    box-shadow: 0px 3px 10px rgba($black, 0.15);
    z-index: 2;
    transform: translateX(-100%);

    &-link {
        color: $dark-grey;
        width: 100%;
        display: flex;
        justify-content: flex-start;

        &:active {
            background-color: $light-grey;
        }
    }

    &-item {
        padding: 1rem 0 1rem 1rem;
        width: 100%;
    }

    &-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        @media #{$medium} {
            display: none;
        }
    }

    @media #{$small}{
        transform: translateX(-100%);
    }
    @media #{$medium} {
        transform: translateX(0);
    }
}

.is-mb-active {
    transform: translateX(0);
}
