<template>
	<div id="app">
		<Header />
		<div class="content-wrapper">
			<div class="container">
				<nuxt />
				<Footer />
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
	.content-wrapper {
		overflow-y: auto;
		padding: 6em 1em 1em 1em;

		@media #{$small}{
			padding: 6em 1em 1em 1em;
    	}
		@media #{$medium} {
			margin-left: 200px;
			padding: 8em 1em 1em 1em;
		}
	}

	.container {
		padding:0;
	}
</style>
