<template>
    <div>
        <h2 class="text-suitmedia">Alert</h2>
        <div class="mb-24">
            <div class="alert">Alert default</div>
            <div class="alert--primary">Alert primary</div>
            <div class="alert--secondary">Alert secondary</div>
            <div class="alert--warning">Alert warning</div>
            <div class="alert--danger">Alert danger</div>
            <div class="alert--black">Alert black</div>
            <div class="alert--light-grey">Alert light-grey</div>
            <div class="alert--white">Alert white</div>
        </div>
        <hr>
        <h2 class="text-suitmedia">Alert Box</h2>
        <div class="mb-24">

            <div class="mb-24">
                <button class="btn--primary" @click="alert('alert1')" data-alert="#alert1">Alert 1</button>
                <button class="btn--primary" @click="alert('alert2')" data-alert="#alert2">Alert 2</button>
            </div>

            <div class="alert--popup" id="alert1" @click="alert('')" v-bind:class="{ active : (alertActive == 'alert1')  }">
                <div class="alert--primary alert--popup-content" >
                    <span class="alert--close"><i class="fas fa-times"></i></span> <h4>Lorem Ipsum!</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <hr>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui obcaecati tempora.
                    Quod, nesciunt culpa sunt sit itaque voluptate molestiae in quia quos quam tempora sequi illo molestias? Rerum, sit?</p>
                </div>
            </div>

            <div class="alert--popup d-none" id="alert2" @click="alert('')" v-bind:class="{ active : (alertActive == 'alert2')  }">
                <div class="alert--danger alert--popup-content" >
                    <span class="alert--close"><i class="fas fa-times"></i></span> <h4>Number 2</h4>
                    <p>Test Number 2</p>
                </div>
            </div>
        </div>
        <hr>
    </div>
</template>

<script>
export default {
    name: 'Alerts',
    data() {
        return {
            alertActive: String,
        }
    },
    methods: {
        alert(id) {
            this.alertActive = id;
        }
    }
}
</script>

<style lang="scss" scoped>
    .active {
        display: block;
    }
</style>