<template>
    <div>
        <h2 class="text-suitmedia">Flex Card</h2>
        <div class="mb-24">
            <div class="card-group">
                <div class="card--primary mb-12">
                    <div class="card--header">
                        Card header
                    </div>
                    <img class="card--image" src="~assets/img/suitmedia-logo.png" alt="">
                    <div class="card--body">
                        <h5>Card</h5>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia consectetur quibusdam repudiandae!</p>
                    </div>
                    <div class="card--footer">
                        Card footer
                    </div>
                </div>
                <div class="card--secondary mb-12">
                    <div class="card--header">
                        Card header
                    </div>
                    <img class="card--image" src="~assets/img/suitmedia-logo.png" alt="">
                    <div class="card--body">
                        <h5>Card</h5>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="card--footer">
                        Card footer
                    </div>
                </div>
                <div class="card--light-grey mb-12">
                    <div class="card--header">
                        Card header
                    </div>
                    <img class="card--image" src="~assets/img/suitmedia-logo.png" alt="">
                    <div class="card--body">
                        <h5>Card</h5>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
                        architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!</p>
                    </div>
                </div>
                <div class="card mb-12">
                    <img class="card--image" src="~assets/img/suitmedia-logo.png" alt="">
                    <div class="card--body">
                        <h5>Card</h5>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
                        architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!</p>
                    </div>
                    <div class="card--footer">
                        Card footer
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="mb-24">
            <h2 class="text-suitmedia">Baze Grid Card</h2>
            <div class="bzg bzg--flex card-group js-card" data-card="dev/data/data.json">
                <div class="bzg_c mb-24" id="bazeCard1" data-col="s12,m6,l3">
                    <div class="card--primary">
                        <div class="card--header">
                            Header title
                        </div>
                        <div class="card--image">
                            <a href="#"><img class="card--image" src="~assets/img/suitmedia-logo.png" alt=""></a>
                        </div>
                        <div class="card--body">
                            <h5>Johanna Sargent</h5>
                            <p class="text-right">14 Februari 2019</p>
                            <p class="mb-0">Voluptate sit anim consequat velit commodo qui tempor nisi dolor duis consequat.</p>
                        </div>
                        <div class="card--footer">
                            Footer title
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Cards',
}
</script>