<template>
    <div>
        <h2 class="text-suitmedia">Text Color</h2>
        <div class="mb-24">
            <p class="text-primary">Text class color = ".text-primary"</p>
            <p class="text-secondary">Text class color = ".text-secondary"</p>
            <p class="text-warning">Text class color = ".text-warning"</p>
            <p class="text-danger">Text class color = ".text-danger"</p>
            <p class="text-black">Text class color = ".text-black"</p>
            <p class="text-blue">Text class color = ".text-blue"</p>
            <p class="text-light-grey">Text class color = ".text-light-grey"</p>
        </div>
        <hr>
        <h2 class="text-suitmedia">Background Color</h2>
        <div class="mb-24">
            <p class="bg-primary">Background class color = ".bg-primary"</p>
            <p class="bg-secondary">Background class color = ".bg-secondary"</p>
            <p class="bg-warning">Background class color = ".bg-warning"</p>
            <p class="bg-blue">Background class color = ".bg-blue"</p>
            <p class="bg-danger">Background class color = ".bg-danger"</p>
            <p class="bg-black">Background class color = ".bg-black"</p>
            <p class="bg-light-grey">Background class color = ".bg-light-grey"</p>
            <p class="bg-white">Background class color = ".bg-white"</p>
        </div>
        <hr>
    </div>
</template>

<script>
export default {
    name: 'Color',
}
</script>

<style lang="scss" scoped>

</style>



