<template>
    <div>
        <h2 class="text-suitmedia">Heading</h2>
        <div class="mb-24">
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>
        </div>
        <hr>
        <h2 class="text-suitmedia">Heading Style</h2>
        <div class="mb-24">
            <p class="h1">Text size adjust h1</p>
            <p class="h2">Text size adjust h2</p>
            <p class="h3">Text size adjust h3</p>
            <p class="h4">Text size adjust h4</p>
            <p class="h5">Text size adjust h5</p>
            <p class="h6">Text size adjust h6</p>
        </div>
        <hr>
    </div>
</template>

<script>
export default {
    name: 'Heading',
}
</script>

<style lang="scss" scoped>

</style>



