<template>
	<main class="site-main">

	</main>
</template>

<script>
export default {
	data() {
		return {

		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	}
}
</script>

<style lang="scss" scoped></style>
