<template>
    <div>
        <div class="mb-24">
            <h2 class="text-suitmedia">Media Object</h2>
            <figure class="media">
                <div class="media-figure">
                    <img src="~assets/img/suitmedia-logo.png" alt="">
                </div>
                <div class="media-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam incidunt tempora ratione sapiente,
                    nesciunt consectetur officiis commodi soluta. Sit sapiente veritatis non quia vitae, facilis nam rerum, reprehenderit modi. Fugiat?
                </div>
            </figure>
        </div>
        <div class="mb-24">
            <h2 class="text-suitmedia">With Title, Button, and Link</h2>
            <figure class="media">
                <div class="media-figure">
                    <img src="~assets/img/suitmedia-logo.png" alt="" width="150px">
                </div>
                <div class="media-content">
                    <h4 class="media-title text-primary">Title</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p class="mb-0">
                        <button class="btn--primary btn--small btn--icon mr-8"><i class="bzi-hand-shake"></i></button>
                        <a href="#">Visit somewhere...</a>
                    </p>
                </div>
            </figure>
        </div>
        <hr>
    </div>
</template>

<script>
export default {
    name: 'Media-object',
}
</script>