<template>
    <div>
        <div class="mb-24">
            <h2 class="text-suitmedia">Pagination</h2>
            <ol class="pagination">
                <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
                <li><a class="is-active" href="#">1</a></li>
                <li><a href="#" disabled>2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
            </ol>
        </div>
        <hr>

        <div class="mb-24">
            <h2 class="text-suitmedia">Left Pagination</h2>
            <ol class="pagination--left">
                <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
            </ol>
        </div>
        <hr>

        <div class="mb-24">
            <h2 class="text-suitmedia">Right Pagination</h2>
            <ol class="pagination--right">
                <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
            </ol>
        </div>
        <hr>
        
    </div>
</template>