<template>
    <div>
        <div class="mb-24">
            <h2 class="text-suitmedia mb-24">Baze Pokedex</h2>
            <Tabs>
                <Tab v-for="generate in generation" :key="generate.key" :title="generate.title">
                    <PokeCard :pokeGeneration="generate.key" />   
                </Tab>
            </Tabs>    
        </div> 
        <hr>
    </div>
</template>

<script>
export default {
    data() {
        return {
           generation: [
				{
                    title : "Generation 1",
                    key: 1
				},
                {
                    title : "Generation 2",
                    key: 2
				},
                {
                    title : "Generation 3",
                    key: 3
				},
                {
                    title : "Generation 4",
                    key: 4
				},
                {
                    title : "Generation 5",
                    key: 5
				},
           ] 
        }
    },
}
</script>

<style lang="scss" scoped>

</style>