<template>
    <div>
        <h2 class="text-suitmedia">Tabs</h2>
        <Tabs>
            <Tab title="Item 1">Item 1</Tab>
            <Tab title="Item 2">Item 2</Tab>
            <Tab title="Item 3">Item 3</Tab>
            <Tab title="Item 4">Item 4</Tab>
        </Tabs>
        <hr>
    </div>
</template>